$primary-color-magenta: hsl(300, 43%, 22%); //Very Dark Magenta
$primary-color-pink: hsl(333, 80%, 67%); //Soft Pink
$secondary-color-magenta: hsl(303, 10%, 53%);
$secondary-color-light-magenta:hsl(300, 24%, 96%);
$secondary-color-white:hsl(0, 0%, 100%);
